@import url('../../App.css');

.restart-game-button {
  animation: fade-in 0.5s ease-in forwards;
  background-color: var(--button-enabled);
  border: none;
  border-radius: 25px;
  color: var(--white);
  font: 400 24px var(--bogaloo);
  padding: 10px 30px;
  position: relative;
  transition: 300ms;
  top: 375px;
  margin: 0 auto;
}

.restart-game-button:hover:not(:disabled) {
  background-color: var(--button-enabled-hover);
  cursor: pointer;
}

.restart-game-button:disabled {
  background-color: var(--button-disabled);
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}
