@import url('../../App.css');

.restart-game-button {
  animation: fade-in 0.5s ease-in forwards;
  background-color: var(--button-enabled);
  border: none;
  border-radius: 25px;
  color: var(--white);
  font: 400 24px var(--bogaloo);
  padding: 10px 30px;
  position: relative;
  transition: 300ms;
  margin: 0 auto;
}

.restart-game-button:hover:not(:disabled) {
  background-color: var(--button-enabled-hover);
  cursor: pointer;
}

.restart-game-button:disabled {
  background-color: var(--button-disabled);
}

.pulse {
  animation: pulse 1s ease-in-out infinite;
}

.toggle-mute__button {
  align-items: center;
  background-color: unset;
  border: none;
  border-radius: 100%;
  display: flex;
  height: 35px;
  justify-content: center;
  margin: 10px 0 0 10px;
  transition: 350ms;
  width: 35px;
}

.toggle-mute__button:hover {
  background-color: #0b7191;
}

.toggle-mute__button--icon {
  color: white;
  font-size: 25px;
}
