@import url('../../App.css');

.clear-grid-button {
  background-color: var(--green);
  border: none;
  border-radius: 25px;
  color: var(--white);
  font: 400 24px var(--chewy);
  padding: 10px 30px;
  transition: 300ms;
}

.clear-grid-button:hover:not(:disabled) {
  cursor: pointer;
  transform: scale(1.15, 1.15);
}

.clear-grid-button:disabled {
  background-color: var(--red);
}