@import url('../../App.css');

label {
  border: solid 1px white;
  z-index: 0;
  width: 75px;
  height: 75px;
}

label:nth-of-type(-n + 3) {
  border-top: none;
}

label:nth-of-type(3n) {
  border-right: none;
}

label:nth-of-type(n + 7) {
  border-bottom: none;
}

label:nth-of-type(3n - 2) {
  border-left: none;
}

.cell {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 300ms;
  opacity: 0%;
}

label:hover {
  background-color: var(--cell-hover);
}

.player-symbol {
  animation: fade-in 0.2s ease-in forwards;
  width: 50px;
  
  top: 10px;
  z-index: 1;
}

.disabled {
  pointer-events: none;
}