@import url('../../App.css');

.square {
  align-items: center;
  border: solid 1px var(--white);
  display: flex;
  height: 75px;
  justify-content: center;
  transition: 300ms;
  width: 75px;
}

.square:hover {
  background-color: var(--square-hover);
}

.square:nth-child(-n + 3) {
  border-top: none;
}

.square:nth-child(3n) {
  border-right: none;
}

.square:nth-child(n + 7) {
  border-bottom: none;
}

.square:nth-child(3n - 2) {
  border-left: none;
}

.player-symbol {
  animation: fade-in 0.2s ease-in forwards;
  width: 50px;
}

.square-disabled {
  pointer-events: none;
}