@import url('../../App.css');

.player-display-container {
  align-items: center;
  animation: fade-in 0.5s ease-in forwards;
  display: flex;
  gap: 15px;
  justify-content: center;
  left: 50%;
  margin: 0 auto;
  opacity: 0;
  position: fixed;
  transform: translateX(-50%);
}

.player-display-container h3 {
  font: 400 28px var(--londrina-solid);
}

.player-img-display {
  width: 35px;
}