@import url('../../App.css');

.message-container {
  align-items: center;
  animation: fade-in 0.5s ease-in forwards;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 180px;
  justify-content: center;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  transition: 250ms;
  top: 335px;
  opacity: 0;
  width: 180px;
}

.message-container:hover {
  transform: scale(1.125, 1.125) translateX(-45%);
}

.message-container h2 {
  font: 400 52px var(--londrina-solid);
}

.player1 {
  background-color: var(--player1);
  }
  
.player2 {
  background-color: var(--player2);
}
  
.tie {
  background-color: var(--tie);
}