@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chewy&family=Elsie:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {

  --background-color: #05313f;
  --green: #2fa042;
  --red: #a14646;
  --square-hover: #18637a;
  --white: #e5e5e5;

  --bogaloo: 'Boogaloo', cursive;
  --chewy: 'Chewy', cursive;
  --elsie: 'Elsie', cursive;
  
}

.App {
  background-color: var(--background-color);
  color: var(--white);
  height: 100vh;
  text-align: center;
}

h1 {
  align-items: center;
  display: flex;
  font: 400 40px var(--chewy);
  gap: 15px;
  justify-content: center;
  padding-top: 35px;
  text-transform: uppercase;
}

h1::before {
  content: '';
  background-color: var(--white);
  height: 3px;
  position: relative;
  top: 2.5px;
  width: 15%;
}

h1::after {
  content: '';
  background-color: var(--white);
  height: 3px;
  position: relative;
  top: 2.5px;
  width: 15%;
}

h3 {
  font: 400 28px var(--elsie);
}

.player-display {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  left: 50%;
  margin: 20px auto;
  position: absolute;
  transform: translateX(-50%);
}

.player-img-display {
  animation: fade-in 0.2s ease-in forwards;
  width: 35px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}